{% extends "base.html" %}
{% block title %}ERROR 404 - Malheur !!! Une erreur est survenue...{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12" style="font-family: Verdana">
            <div style="position:absolute;top:150px; width: 550px;  font-size:300%">
                <center>
                    <p>Ara ara...</p>
                    <br>
                    <br>
                    <p>Alors ? On s'est perdu ?</p>
                    <br>
                    <br>
                    <p>O Kawaii Koto...</p>
                </center>
            </div>
            <p><img src="..\static\kaguya-ara-ara.png" width="1200"/></p>
            <p><img src="..\static\qr.png" width="100" style="position:absolute;top:10px; width: 100px" /></p>
            <a style="writing-mode: sideways-lr; position:absolute;top:10px;left: 110px; font-size:165%">Scan me</a>
		</div>
	</div>
</div>
{% endblock %}
