{% extends "base.html" %}
{% block title %}ERROR 4040Malheur !!! Une erreur est survenue....{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
            <div style="position:absolute;top:150px; width: 500px;  font-size:300%">
                <center>
                    <p>Ara ara...</p>
                    <br>
                    <br>
                    <p>Alors ? On s'est perdu ?</p>
                    <br>
                    <br>
                    <p>O Kawaii Koto...</p>
                </center>
            </div>
            <p><img src="..\static\kaguya-ara-ara.png" width="1200" /></p>
		</div>
	</div>
</div>
{% endblock %}
