<footer class="mt-auto py-2">
  <div class="container-fluid">
      <hr class="py-0 bg-light" />
      <style>
          .row_between{
              margin: 0 10px;
          }
      </style>
        <div class="row" style="justify-content: center" >
            <span>
                <span class="row_between"> [&lt;&#47;&gt; with &#9825]</span>
                <span>
                    Un souci ? Contactez <a href="mailto:webmaster@ronzano.ch">webmaster@ronzano.ch</a>
                </span>
                <span class="row_between">L'Occaz' &#169;&#x2122; est une marque déposée de
                    <a href="https://ronzanoandcie.ch" target="_blank">Ronzano & Cie Fils Sàrl</a> &#169;&#x2122;
                </span>
                <span class="row_between">Juillet 2020</span>
            </span>
        </div>
  </div>
</footer>
