{% extends "base.html" %}
{% block title %} Afficher un USER {% endblock %}
{% block body %}
    <div class="container">
        <div class="col-md-12">
            <table class="table table-bordered table-sm">
                {% if data %}
                    <thead>
                        <tr>
                            <th class="align-middle">ID</th>
                            <th class="align-middle">Prénom</th>
                            <th class="align-middle">Nom</th>
                            <th class="align-middle">Mail</th>
                            <th class="align-middle">Phone</th>
                            <th class="align-middle">Adresse</th>
                            <th class="align-middle">Ville</th>
                            <th class="align-middle">NPA</th>
                            <th class="align-middle">Genre</th>
                            <th class="align-middle">Date</th>
                        </tr>
                    </thead>
                {% endif %}

                {% for row in data %}
                    <tbody>
                        <tr>
                            <td class="align-middle">{{ row.id_user }}</td>
                            <td class="align-middle">{{ row.firstname_user|default("", True) }}</td>
                            <td class="align-middle">{{ row.lastname_user|default("", True) }}</td>
                            <td class="align-middle">{{ row.mail_user|default("", True) }}</td>
                            <td class="align-middle">{{ row.phone_user|default("", True) }}</td>
                            <td class="align-middle">{{ row.address_user|default("", True) }}</td>
                            <td class="align-middle">{{ row.city_user|default("", True) }}</td>
                            <td class="align-middle">{{ row.npa_user|default("", True) }}</td>
                            <td class="align-middle">{{ row.gender|default("", True) }}</td>
                            <td class="align-middle">{{ row.date_add_user|default("", True) }}</td>
                            <td class="align-middle"><a class="btn btn-primary" href="{{ url_for('user_add') }}">Ajouter</a> </td>
                            <td class="align-middle"><a class="btn btn-warning" href="{{ url_for('user_edit', id_user_edit_html=row.id_user) }}">Editer</a> </td>
                            <td class="align-middle"><a class="btn btn-danger" href="{{ url_for('user_select_delete', id_user_delete_html=row.id_user) }}">Supprimer</a> </td>
                        </tr>
                    </tbody>
                {% else %}
                    <tbody>
                        <tr>
                            <td>Aucun USER.</td>
                            <td><a class="btn btn-primary" href="{{ url_for('user_add') }}" role="button">Ajouter</a></td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
