{% extends "base.html" %}
{% block title %} Afficher un Stuff {% endblock %}
{% block body %}
    <div class="container">
        <div class="col-md-12">
            <table class="table table-bordered table-sm">
                {% if data %}
                    <thead>
                        <tr>
                            <th class="align-middle">ID</th>
                            <th class="align-middle">Nom</th>
                            <th class="align-middle">Description</th>
                            <th class="align-middle">Prix</th>
                            <th class="align-middle">Type</th>
                            <th class="align-middle">Quantité</th>
                            <th class="align-middle">Appartenance</th>
                            <th class="align-middle">Etat</th>
                            <th class="align-middle">Type Payment</th>
                            <th class="align-middle">Date d'ajout</th>
                            <th class="align-middle">Date d'achat</th>
                        </tr>
                    </thead>
                {% endif %}

                {% for row in data %}
                    <tbody>
                        <tr>
                            <td class="align-middle">{{ row.id_stuff }}</td>
                            <td class="align-middle">{{ row.name_stuff }}</td>
                            <td class="align-middle">{{ row.description_stuff|default("", True) }}</td>
                            <td class="align-middle">{{ row.price_stuff|default("", True) }} Frs.</td>
                            <td class="align-middle">{{ row.type_stuff|default("", True) }}</td>
                            <td class="align-middle">{{ row.quantity_stuff|default("", True) }}</td>
                            <td class="align-middle">{{ row.user|default("", True) }}</td>
                            <td class="align-middle">{{ row.state_stuff|default("", True) }}</td>
                            <td class="align-middle">{{ row.type_payment|default("", True) }}</td>
                            <td class="align-middle">{{ row.date_add_stuff|default("", True) }}</td>
                            <td class="align-middle">{{ row.date_bought_stuff|default("", True) }}</td>
                            <td class="align-middle"><a class="btn btn-primary" href="{{ url_for('stuff_add') }}">Ajouter</a> </td>
                            <td class="align-middle"><a class="btn btn-warning" href="{{ url_for('stuff_edit', id_stuff_edit_html=row.id_stuff) }}">Editer</a> </td>
                            <td class="align-middle"><a class="btn btn-danger" href="{{ url_for('stuff_select_delete', id_stuff_delete_html=row.id_stuff) }}">Supprimer</a> </td>
                        </tr>
                    </tbody>
                {% else %}
                    <tbody>
                        <tr>
                            <td>
                                Aucun STUFF.
                            </td>
                            <td>
                                <a class="btn btn-primary" href="{{ url_for('stuff_add') }}" role="button">Ajouter</a>
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
