{% extends "base.html" %}
{% block title %}supprimer un STUFF{% endblock %}
{% block body %}
    <div class="home">
        <BODY>
            <form method="POST" action="{{ url_for('stuff_delete') }}">
                <table cellpadding="7" cellspacing="5">
                    <thead>
                        <tr>
                            <th class="align-middle">ID</th>
                            <th class="align-middle">Nom</th>
                            <th class="align-middle">Description</th>
                            <th class="align-middle">Prix</th>
                            <th class="align-middle">Type</th>
                            <th class="align-middle">Quantité</th>
                            <th class="align-middle">Appartenance</th>
                            <th class="align-middle">Etat</th>
                            <th class="align-middle">Type Payement</th>
                            <th class="align-middle">Date d'ajout</th>
                            <th class="align-middle">Date d'achat</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tr>
                            <td><input type="hidden" name="id_stuff_delete_html" value="{{ row.id_stuff }}"></td>
                            <td class="align-middle">{{ row.name_stuff }}</td>
                            <td class="align-middle">{{ row.description_stuff|default("", True) }}</td>
                            <td class="align-middle">{{ row.price_stuff|default("", True) }}</td>
                            <td class="align-middle">{{ row.type_stuff|default("", True) }}</td>
                            <td class="align-middle">{{ row.quantity_stuff|default("", True) }}</td>
                            <td class="align-middle">{{ row.user|default("", True) }}</td>
                            <td class="align-middle">{{ row.state_stuff|default("", True) }}</td>
                            <td class="align-middle">{{ row.type_payement|default("", True) }}</td>
                            <td class="align-middle">{{ row.date_add_stuff|default("", True) }}</td>
                            <td class="align-middle">{{ row.date_bought_stuff|default("", True) }}</td>
                            <td><button class="btn btn-danger" type="submit">EFFACER</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </BODY>
    </div>
{% endblock %}