{% extends "base.html" %}
{% block title %} Ajouter un State_stuff{% endblock %}
{% block body %}
    <div class="container">
        <div class="col-md-12">
            <center>
                <form method="POST" action="">
                    <table cellpadding="7">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>State stuff</th>
                            </tr>
                        </thead>
                            <tr>
                                <td></td>
                                <td><input type = "text" name= "state_stuff_html"/></td>
                                <td><button class="btn btn-primary" type="submit">Ajouter</button></td>
                            </tr>
                    </table>
                </form>
            </center>
        </div>
    </div>
{% endblock %}